.App {
  text-align: center;
}

.app-container {
  height: 100vh;
  background: rgb(102, 5, 113);
  background: linear-gradient(
    52deg,
    rgba(102, 5, 113, 1) 3%,
    rgba(9, 121, 94, 1) 42%,
    rgba(0, 212, 255, 1) 100%
  );
}

.all-tasks {
  background: rgb(102, 5, 113);
  background: linear-gradient(
    52deg,
    rgba(102, 5, 113, 1) 3%,
    rgba(102, 9, 121, 1) 11%,
    rgba(181, 0, 255, 1) 100%
  );
  color: white;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
}

.all-tasks-container,
.completed-tasks-container {
  width: 45vw;
  height: 50vh;
  padding: 2rem;
  text-align: center;
  overflow-y: scroll;
  border: 1px double rgb(52, 41, 41);
  border-radius: 3rem;
  color: white;
  background-color: rgba(4, 15, 24, 0.482);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.completed-tasks-container h4 {
  text-decoration: line-through;
  color: rgb(187, 187, 187);
}

.completed-tasks {
  background: rgb(5, 102, 113);
  background: linear-gradient(
    52deg,
    rgb(5, 113, 32) 3%,
    rgb(9, 121, 37) 11%,
    rgb(0, 195, 255) 100%
  );
  color: white;
}

.done-icon:hover {
  color: rgb(14, 255, 42);
}

.edit-icon:hover {
  color: rgb(14, 102, 255);
}

.delete-icon:hover {
  color: rgb(255, 38, 14);
}
